numpy #si es la versión superior genera conflicto con umap learn
Pillow
Matplotlib
pandas
seaborn
scikit-learn
requests
scikit-image
mlxtend
prefixspan
scikit-fuzzy
umap-learn
openpyxl
stanza
torch 
torchvision
tesseract
pytesseract
nltk
wordcloud
spacy
tensorflow==2.19.0
tensorflow-datasets
opencv-python
ucimlrepo
nbconvert